/* --------------
My Website styles
-------------- */

/* ----------
Global Styles
---------- */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: "Sunflower", sans-serif;
	background-color: #818181;
	transition: background-color 1s, margin-left 0.5s;
	padding: 3%;
}
header {
	/* For non-supporters of radial gradients */
	background: #818181;
	/* Radial grad (just gradients wings since footer is a rectangle) */
	background: radial-gradient(circle, #605f5f, #818181);
	width: 100%;
	text-align: center;
}
footer {
	/* For non-supporters of radial gradients */
	background: #818181;
	/* Radial grad (just gradients wings since footer is a rectangle) */
	background: radial-gradient(circle, #605f5f, #818181);
	padding: 3%;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1%;
	padding: 1%;
}
p {
	padding: 0 3% 1% 3%;
	margin-top: 1%;
	margin-bottom: 0;
}

/* -----
Wrappers
----- */
.content-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 1%;
	overflow: hidden;
}

/* --------------
Nav Bar Slide Out
-------------- */
.side {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #343435;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 5%;
}
/* Links */
.side a {
	padding: 5% 5%;
	text-decoration: none;
	font-size: 1.75em;
	color: #818181;
	display: block;
	position: relative;
	transition: 0.5s;
}
.side a:hover {
	color: white;
}
/* Underline animation */
.side .link:before {
	content: "";
	position: absolute;
	width: 75%;
	height: 2px;
	bottom: 0;
	left: 0;
	margin: 5% 10%;
	background-color: white;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.side .link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/* Open and Close buttons */
nav span {
	font-size: 3em;
	cursor: pointer;
	position: fixed;
	left: 3%;
	top: 0;
}
.side .close-btn{
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 2em;
	margin-left: 15%;
}

/* ----
Contact
---- */
.contact-info a {
	margin: 0% 1%;
	padding: 0.5% 1%;
	font-size: 1.8em;
	color: #39393a;
	/* ?? */
}

/* -----
Projects
----- */
/* Tabs */
.tab-link {
	background-color: #39393a;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 2%;
	font-size: 1.5em;
	width: 25%;
}
.tab-link:hover {
	background-color: #818181;
	border: 2px solid #39393a;
}
.tab-content {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/* -------------
Curriculum Vitae
------------- */
.cv-section {
	text-align: center;
	margin: 3% 1%; 
}
/* Drop panels */
.panel-tab {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .panel-tab:hover {
    background-color: #ccc;
}
.panel-tab:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* ------
Astronomy
------ */
#modal-noise-paper {
	/* display: table-cell; ?? */
	/* vertical-align: middle; */
	font-size: 2em;
	color: #343435;
	margin: 2%;
}

/* --------------
Background images
-------------- */
.back-image {
	min-height: 80vh;
	background: center no-repeat fixed;
	background-size: cover; 
	margin: 5% 0;
}
.profile-head {
	background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(../../static/images/profile1.jpg);
}
.chime { 
	background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)), url(../../static/images/chime.jpg);
}
.expres {
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4)), url(../../static/images/expres.jpg);
}
.argos {
	background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3)), url(../../static/images/argos.jpg);
}
