/* --------------
My Website styles
-------------- */

/* ----------
Global Styles
---------- */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: "Sunflower", sans-serif;
	background-color: #818181;
	transition: background-color 1s;
	transition: margin-left 0.4s;
	padding: 3%;
}

/* --------------
Nav Bar Slide Out
-------------- */
.side {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #343435;
	overflow-x: hidden;
	transition: 0.4s;
	padding-top: 5%;
}
/* Links */
.side a {
	/*padding: 8px 8px 8px 32px;*/
	padding: 5% 5% 5% 15%;
	text-decoration: none;
	font-size: 1.5em;
	color: #818181;
	display: block;
	transition: 0.5s;
}
.side a:hover {
	color: white;
	text-decoration: underline;
}
/* Open and Close buttons */
nav span {
	font-size: 3em;
	cursor: pointer;
	position: fixed;
	left: 3%;
	top: 0;
}
.side .close-btn{
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 1.5em;
	margin-left: 15%;
}

/* --
Image
-- */
.image-bin {
	width: 30%;
	height: auto;
}
#profile1 {
	width: 30%;
	height: auto;
	border-radius: 50%;
}